/* _-_-_- base/BASE -_-_-_ */
@charset 'utf-8';

body {
  background: $bg;
  color: $text-color;
  font-family: $text-font-stack;
  line-height: 1.4;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

